<div class="ms_upload_wrapper marger_top60 ">
    <div class="ms_upload_box">
         <div class="">
                <div class="ms_pro_img upload-image ">
                </div>
                <div class="ms_pro_form">
                    <div class="form-group">
                            <label>Album cover *</label>
                            <input type="file" id="avatar" name="avatar" accept="image/x-png, image/jpeg" onchange="readURL(this);">
                        </div>
                </div>
                <div class="ms_pro_form">
                    <div class="form-group">
                        <label>Album Name *</label>
                        <input type="text" name="albumname" placeholder="Album Name *" class="form-control">
                    </div>
                    <div class="form-group">
                        <label> Artist name</label>
                        <input type="text" name="artistname" placeholder="Artist name" class="form-control">
                    </div>
                    </div>
                    
                </div>
        </div>
        <div class="ms_upload_box dm-uploader"  id="drag-and-drop-zone">
            <h2>Upload &amp; Share Your Music With The World</h2>
            <img src="images/svg/upload.svg" alt="">
            <div class="ms_upload_btn">

                
                
            </div>
            <span> or </span>
            <p>Drag And Drop Music Files</p>
        </div>
        <div class=" marger_top60">
            <div class="ms_upload_box">
                <div class="ms_heading">
                    <h1>Track Information</h1>
                    <div id="files">


                    <div class="pro-form-btn hidden text-center marger_top15">
                        <div class="ms_upload_btn">
                            <a href="#" class="ms_btn">Upload Now</a>
                        </div>
             </div>
                    </div>        
                    
                </div>
                   

                
        
                <!-- <div class="ms_pro_form">
                    <div class="form-group"> <label>Track Name *</label> <input type="text" placeholder="Dream Your Moments" class="form-control"></div><div class="form-group"><label>Artist’s Name *</label><input type="text" placeholder="Ava Cornish, Brian Hill" class="form-control"></div>
                    <div class="form-group">
                        <label>Select Album</label>
                        <select class="form-control">
                        <option>Cloud Nine</option>
                        <option value="1">Cyber Sonnet </option>
                        <option value="2">Cloud Nine</option>
                        <option value="3">Cyber Sonnet</option>
                        <option value="4">Cloud Nine</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Select Privacy</label>
                        <select class="form-control">
                        <option>Public</option>
                        <option value="1">Private</option>
                        <option value="2">Public</option>
                        <option value="3">Private</option>
                        <option value="4">Public</option>
                    </select>
                    </div>
                    <div class="pro-form-btn text-center marger_top15">
                        <div class="ms_upload_btn">
                            <a href="#" class="ms_btn">Upload Now</a>
                            <a href="#" class="ms_btn">cancle</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <style>
    </style>

    <script type="text/html" id="files-template">
                    <div id="%%id%%">
                        <p style="font-size:14px" class="mb-2"><strong >%%filename%% </strong> Status:<span class="text-muted">Waiting</span></p><div class="w3-light-grey w3-round-xlarge"><div class="w3-round-xlarge"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div></div><div target1='hide' class="ms_pro_form hidden"><div   class="form-group"> <label>Track Name *</label><input type="text" id="" placeholder="Track name" class="form-control"> </div> <div class="form-group"><label>Artist’s Name *</label><input type="text" id="" placeholder="Artist's Name" class="form-control"></div></div><br></div>
        </script>
        <script>
        
        function readURL(input) {
             
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.upload-image').html('<img src="' + e.target.result + '" class="img-fluid">');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        </script>
